<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.aut.lab.gibfood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GibFoodApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.list.RecipeList"
            android:label="@string/title_activity_recipe_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.details.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.list.RecipeList"/>
        <activity
            android:name=".ui.add.AddActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.list.RecipeList"/>

        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>